.footer__latestNews {
  padding-bottom: 15px;
}
.footer__latestNews:after{
  content: ' ';
  clear: both;
  display: block;
} 
.footer__latestNews .footer__image {
  margin-right: 10px;
  float: left;
}
.footer__latestNews .footer__info {
  float: left;
}
.footer__latestNews  .footer__date {
  float: left;
}